@use './variables/variables';

html,
body {
  min-height: 100vh;
  overflow: hidden;
  z-index: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  z-index: 1;
  position: relative;
}
/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

// *::-webkit-scrollbar-track {
// background: #e6f4ff;
// }
*::-webkit-scrollbar-thumb {
  // background-color: #1677ff;
  background-color: rgb(128 128 128 / 51.4%);
  border-radius: 20px;
}
