@use 'sass:color';

$primary-color: #342b24;
$secondary-color: #f5eed9;
$accent-color: #a37c5d;
$hover-color: #82664e;
$active-color: #5a3c24;
$border-radius: 8px;
$spacing: 8px;

$active-border-color: color.adjust($accent-color, $lightness: 10%, $space: hsl);

.sidebar {
  display: flex;
  flex-direction: column;
  color: #f5eed9;
  padding: $spacing;
  border-radius: $border-radius;

  &_nav_item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $spacing * 1.5;
    margin: $spacing 0;
    border-radius: $border-radius;
    cursor: pointer;
    transition:
      background-color 0.2s ease,
      border-color 0.2s ease;
    color: #f5eed9;
    text-decoration: none;

    &:hover {
      background-color: $hover-color;
    }

    &_active {
      background-color: $active-color;
      border-left: 4px solid $active-border-color;
      padding-left: calc(#{$spacing} * 1.5 + 4px);
      border-radius: 0 $border-radius $border-radius 0;
      .sidebar_label_container_label {
        font-weight: bold;
      }
    }
  }

  &_label_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    line-height: 1.2;

    &_label {
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }

    &_future_label {
      opacity: 0.6;
      font-style: italic;
      font-size: 0.8rem;
    }
  }
}
